openapi: 3.0.3
info:
  title: bunq Public API
  description: >-
    Grounded, representative subset of the bunq Public API. bunq is a
    European (Dutch) neobank; its REST API lets account holders and licensed
    third parties read accounts, initiate SEPA and other payments, send and
    respond to payment requests, manage cards, export statements, upload
    attachments, and subscribe to event callbacks.


    IMPORTANT - bunq uses an unusual multi-step handshake before any business
    call can be made. All request/response bodies in the bunq API are wrapped
    in a top-level `Response` (list) envelope, and most responses also return a
    server signature. This document models the handshake plus a representative
    slice of the resource surface; it is NOT the full bunq API, which exposes
    hundreds of endpoints. Path segments such as `{userID}` and
    `{monetaryAccountID}` are numeric IDs returned by earlier calls. This spec
    is authored by API Evangelist from the public documentation at
    https://doc.bunq.com and is not an official bunq artifact; request/response
    schemas are simplified and several are modeled rather than copied verbatim.
  version: v1
  contact:
    name: bunq API documentation
    url: https://doc.bunq.com
  license:
    name: bunq API Terms of Service
    url: https://doc.bunq.com
servers:
  - url: https://api.bunq.com/v1
    description: Production
  - url: https://public-api.sandbox.bunq.com/v1
    description: Sandbox
security:
  - sessionToken: []
tags:
  - name: Handshake
    description: Installation, device registration, and session bootstrap. Establishes the RSA-signed API context.
  - name: User
    description: The authenticated user (person, company, or payment service provider).
  - name: Monetary Account
    description: Bank, savings, and joint accounts holding money.
  - name: Payment
    description: Execute and read payments (including SEPA) for a monetary account.
  - name: Request Inquiry
    description: Create and read payment requests (money you ask another party to pay).
  - name: Card
    description: Debit and credit cards linked to monetary accounts.
  - name: Attachment
    description: Upload and retrieve attachment content.
  - name: Customer Statement
    description: Generate and download account statement exports (CSV, MT940, PDF).
  - name: Notification Filter
    description: Manage URL (webhook) and push notification callbacks for account events.
paths:
  /installation:
    post:
      operationId: createInstallation
      tags:
        - Handshake
      summary: Register a client public key (create Installation)
      description: >-
        First handshake step. POST the PEM-encoded 2048-bit RSA public key of
        your locally generated key pair. The response returns an installation
        `Token` and the bunq `server_public_key`. The Token authenticates the
        following device-server and session-server calls; the server public key
        is used to verify server response signatures. This call is not signed.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallationInput'
      responses:
        '200':
          description: Installation created; installation Token and server public key returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /device-server:
    post:
      operationId: createDeviceServer
      tags:
        - Handshake
      summary: Register the device (create DeviceServer)
      description: >-
        Second handshake step. Registers your API key and (optionally) a list
        of permitted IPs against the installation. Send the installation Token
        in `X-Bunq-Client-Authentication` and sign the request body with your
        private key in `X-Bunq-Client-Signature`.
      security:
        - installationToken: []
      parameters:
        - $ref: '#/components/parameters/ClientSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceServerInput'
      responses:
        '200':
          description: DeviceServer registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /session-server:
    post:
      operationId: createSessionServer
      tags:
        - Handshake
      summary: Open a session (create SessionServer)
      description: >-
        Third handshake step. Opens a session and returns the session `Token`
        used in `X-Bunq-Client-Authentication` for all subsequent business
        calls, plus the user object(s) and the session timeout. Send the
        installation Token in `X-Bunq-Client-Authentication` and sign the body
        with your private key.
      security:
        - installationToken: []
      parameters:
        - $ref: '#/components/parameters/ClientSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionServerInput'
      responses:
        '200':
          description: Session opened; session Token and user returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user:
    get:
      operationId: listUsers
      tags:
        - User
      summary: List users for the session
      description: Lists the user object(s) accessible in the current session.
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: getUser
      tags:
        - User
      summary: Get a user
      description: Retrieves a single user (UserPerson, UserCompany, or UserPaymentServiceProvider) by ID.
      responses:
        '200':
          description: The requested user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/monetary-account:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: listMonetaryAccounts
      tags:
        - Monetary Account
      summary: List monetary accounts
      description: >-
        Lists all monetary accounts for the user across types (bank, savings,
        joint). Type-specific collections are also exposed at
        `/monetary-account-bank`, `/monetary-account-savings`, and
        `/monetary-account-joint`.
      responses:
        '200':
          description: A list of monetary accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/monetary-account/{monetaryAccountID}:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: getMonetaryAccount
      tags:
        - Monetary Account
      summary: Get a monetary account
      description: Retrieves a single monetary account, including its balance, IBAN alias, currency, and status.
      responses:
        '200':
          description: The requested monetary account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/monetary-account-bank:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: listMonetaryAccountBank
      tags:
        - Monetary Account
      summary: List bank monetary accounts
      description: Lists the classic personal or business bank accounts (MonetaryAccountBank) for the user.
      responses:
        '200':
          description: A list of bank monetary accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMonetaryAccountBank
      tags:
        - Monetary Account
      summary: Create a bank monetary account
      description: Opens a new MonetaryAccountBank in the given currency.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonetaryAccountBankInput'
      responses:
        '200':
          description: The created bank monetary account (id returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/monetary-account/{monetaryAccountID}/payment:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listPayments
      tags:
        - Payment
      summary: List payments
      description: Lists the executed payments for a monetary account. Supports pagination via `count`, `older_id`, and `newer_id` query parameters.
      parameters:
        - $ref: '#/components/parameters/Count'
        - $ref: '#/components/parameters/OlderID'
        - $ref: '#/components/parameters/NewerID'
      responses:
        '200':
          description: A list of payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPayment
      tags:
        - Payment
      summary: Create a payment
      description: >-
        Executes a payment from the monetary account to a counterparty
        identified by an IBAN, email, or phone alias. SEPA and internal
        transfers are made through this endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentInput'
      responses:
        '200':
          description: The created payment (id returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/monetary-account/{monetaryAccountID}/payment/{paymentID}:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
      - name: paymentID
        in: path
        required: true
        description: The ID of the payment.
        schema:
          type: integer
    get:
      operationId: getPayment
      tags:
        - Payment
      summary: Get a payment
      description: Retrieves a single payment by ID for the monetary account.
      responses:
        '200':
          description: The requested payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/monetary-account/{monetaryAccountID}/draft-payment:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listDraftPayments
      tags:
        - Payment
      summary: List draft payments
      description: Lists draft payments that require approval before execution (used for multi-approver / business flows).
      responses:
        '200':
          description: A list of draft payments.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDraftPayment
      tags:
        - Payment
      summary: Create a draft payment
      description: Creates a draft payment (one or more entries) that must be accepted before the money moves.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The created draft payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/monetary-account/{monetaryAccountID}/request-inquiry:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listRequestInquiries
      tags:
        - Request Inquiry
      summary: List request inquiries
      description: Lists the payment requests (RequestInquiry) sent from this monetary account.
      responses:
        '200':
          description: A list of request inquiries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createRequestInquiry
      tags:
        - Request Inquiry
      summary: Create a request inquiry
      description: >-
        Sends a payment request to a counterparty alias (IBAN, email, or
        phone). The counterparty receives a RequestResponse they can accept or
        reject.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestInquiryInput'
      responses:
        '200':
          description: The created request inquiry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/monetary-account/{monetaryAccountID}/request-response:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listRequestResponses
      tags:
        - Request Inquiry
      summary: List request responses
      description: Lists incoming payment requests (RequestResponse) addressed to this monetary account.
      responses:
        '200':
          description: A list of request responses.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/card:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: listCards
      tags:
        - Card
      summary: List cards
      description: Lists all debit and credit cards (CardDebit, CardCredit) for the user.
      responses:
        '200':
          description: A list of cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/card/{cardID}:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - name: cardID
        in: path
        required: true
        description: The ID of the card.
        schema:
          type: integer
    get:
      operationId: getCard
      tags:
        - Card
      summary: Get a card
      description: Retrieves a single card, including its status, limits, and the monetary account it is linked to.
      responses:
        '200':
          description: The requested card.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/attachment-public:
    parameters:
      - $ref: '#/components/parameters/UserID'
    post:
      operationId: createAttachmentPublic
      tags:
        - Attachment
      summary: Upload a public attachment
      description: >-
        Uploads raw attachment bytes (for example an avatar or receipt image).
        The body is the binary content; `Content-Type` and
        `X-Bunq-Attachment-Description` headers describe it. The response
        returns a UUID used to reference or retrieve the content.
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The created attachment (UUID returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /attachment-public/{attachmentPublicUUID}/content:
    parameters:
      - name: attachmentPublicUUID
        in: path
        required: true
        description: The UUID of the public attachment.
        schema:
          type: string
          format: uuid
    get:
      operationId: getAttachmentPublicContent
      tags:
        - Attachment
      summary: Download public attachment content
      description: Streams the raw bytes of a public attachment. Returns the binary content rather than a JSON envelope.
      responses:
        '200':
          description: The attachment binary content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/monetary-account/{monetaryAccountID}/customer-statement:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listCustomerStatements
      tags:
        - Customer Statement
      summary: List customer statements
      description: Lists the statement exports generated for the monetary account.
      responses:
        '200':
          description: A list of customer statements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCustomerStatement
      tags:
        - Customer Statement
      summary: Create a customer statement export
      description: >-
        Generates a statement export for a date range in CSV, MT940, or PDF
        format. `include_attachment` embeds attached mutations (for PDF).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerStatementInput'
      responses:
        '200':
          description: The created customer statement (id returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/monetary-account/{monetaryAccountID}/customer-statement/{customerStatementID}/content:
    parameters:
      - $ref: '#/components/parameters/UserID'
      - $ref: '#/components/parameters/MonetaryAccountID'
      - name: customerStatementID
        in: path
        required: true
        description: The ID of the customer statement.
        schema:
          type: integer
    get:
      operationId: getCustomerStatementContent
      tags:
        - Customer Statement
      summary: Download customer statement content
      description: Downloads the generated statement file (CSV, MT940, or PDF) as raw bytes.
      responses:
        '200':
          description: The statement file content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/notification-filter-url:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: listNotificationFilterUrl
      tags:
        - Notification Filter
      summary: List URL notification filters
      description: Lists the user-level URL (webhook) notification filters currently configured.
      responses:
        '200':
          description: A list of URL notification filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNotificationFilterUrl
      tags:
        - Notification Filter
      summary: Set URL notification filters
      description: >-
        Replaces the set of user-level URL notification filters. Each filter
        maps a `category` (for example MUTATION, PAYMENT, CARD_TRANSACTION_*)
        to an HTTPS `notification_target` that bunq POSTs event callbacks to.
        Callbacks originate from bunq IP range 185.40.108.0/22.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationFilterUrlInput'
      responses:
        '200':
          description: The updated notification filter set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/notification-filter-push:
    parameters:
      - $ref: '#/components/parameters/UserID'
    get:
      operationId: listNotificationFilterPush
      tags:
        - Notification Filter
      summary: List push notification filters
      description: Lists the user-level push notification filters (events delivered to the user's bunq mobile app).
      responses:
        '200':
          description: A list of push notification filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNotificationFilterPush
      tags:
        - Notification Filter
      summary: Set push notification filters
      description: Replaces the set of user-level push notification filters by category.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationFilterPushInput'
      responses:
        '200':
          description: The updated push notification filter set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: >-
        Session token obtained from POST /session-server, sent on every
        business call. In addition, each request body must be signed with your
        private key and the signature sent in the X-Bunq-Client-Signature
        header (see the ClientSignature parameter). bunq is not a simple
        bearer-token API.
    installationToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Installation token from POST /installation, used only for the device-server and session-server handshake calls.
  parameters:
    ClientSignature:
      name: X-Bunq-Client-Signature
      in: header
      required: true
      description: >-
        Base64-encoded RSA (PKCS#1 v1.5, SHA-256) signature of the request
        body, produced with your private key. Required on the handshake calls
        and, historically, on all authenticated requests. The server signs its
        response in X-Bunq-Server-Signature, verifiable with the installation
        server_public_key.
      schema:
        type: string
    UserID:
      name: userID
      in: path
      required: true
      description: The numeric ID of the user.
      schema:
        type: integer
    MonetaryAccountID:
      name: monetaryAccountID
      in: path
      required: true
      description: The numeric ID of the monetary account.
      schema:
        type: integer
    Count:
      name: count
      in: query
      required: false
      description: Number of items to return per page.
      schema:
        type: integer
    OlderID:
      name: older_id
      in: query
      required: false
      description: Return items older than this ID (pagination).
      schema:
        type: integer
    NewerID:
      name: newer_id
      in: query
      required: false
      description: Return items newer than this ID (pagination).
      schema:
        type: integer
  responses:
    Error:
      description: A bunq error response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing/invalid session token or signature.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Response:
      type: object
      description: >-
        Generic bunq response envelope. Every bunq response wraps its payload
        in a top-level `Response` array whose items are single-key objects
        keyed by the resource type (for example `Payment`, `MonetaryAccount`,
        `Id`, `Token`). Modeled generically here; see doc.bunq.com for the
        exact per-resource shape.
      properties:
        Response:
          type: array
          items:
            type: object
            additionalProperties: true
    ErrorResponse:
      type: object
      description: bunq error envelope.
      properties:
        Error:
          type: array
          items:
            type: object
            properties:
              error_description:
                type: string
              error_description_translated:
                type: string
    InstallationInput:
      type: object
      required:
        - client_public_key
      properties:
        client_public_key:
          type: string
          description: PEM-encoded 2048-bit RSA public key (PKCS#8) of your client key pair.
    DeviceServerInput:
      type: object
      required:
        - description
        - secret
      properties:
        description:
          type: string
          description: Human-readable device description.
        secret:
          type: string
          description: Your bunq API key.
        permitted_ips:
          type: array
          description: Optional list of IPs permitted to use this device. Use ["*"] to allow any IP (wildcard) where enabled.
          items:
            type: string
    SessionServerInput:
      type: object
      required:
        - secret
      properties:
        secret:
          type: string
          description: Your bunq API key (the same secret registered on the device-server).
    MonetaryAccountBankInput:
      type: object
      required:
        - currency
      properties:
        currency:
          type: string
          description: ISO 4217 currency code, for example EUR.
        description:
          type: string
        daily_limit:
          $ref: '#/components/schemas/Amount'
    PaymentInput:
      type: object
      required:
        - amount
        - counterparty_alias
        - description
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        counterparty_alias:
          $ref: '#/components/schemas/Pointer'
        description:
          type: string
          description: Free-text description shown to the counterparty (max 140 chars for SEPA).
    RequestInquiryInput:
      type: object
      required:
        - amount_inquired
        - counterparty_alias
        - description
        - allow_bunqme
      properties:
        amount_inquired:
          $ref: '#/components/schemas/Amount'
        counterparty_alias:
          $ref: '#/components/schemas/Pointer'
        description:
          type: string
        allow_bunqme:
          type: boolean
          description: Whether the request may be paid via a bunq.me link.
    CustomerStatementInput:
      type: object
      required:
        - statement_format
        - date_start
        - date_end
      properties:
        statement_format:
          type: string
          enum:
            - CSV
            - MT940
            - PDF
        date_start:
          type: string
          format: date
        date_end:
          type: string
          format: date
        regional_format:
          type: string
          enum:
            - EUROPEAN
            - UK_US
        include_attachment:
          type: boolean
          description: Whether to include attached mutations (PDF only).
    NotificationFilterUrlInput:
      type: object
      required:
        - notification_filters
      properties:
        notification_filters:
          type: array
          items:
            type: object
            required:
              - category
              - notification_target
            properties:
              category:
                type: string
                description: Event category, for example MUTATION, PAYMENT, REQUEST, CARD_TRANSACTION_SUCCESSFUL.
              notification_target:
                type: string
                format: uri
                description: HTTPS URL bunq POSTs the callback to.
    NotificationFilterPushInput:
      type: object
      required:
        - notification_filters
      properties:
        notification_filters:
          type: array
          items:
            type: object
            required:
              - category
            properties:
              category:
                type: string
    Amount:
      type: object
      required:
        - value
        - currency
      properties:
        value:
          type: string
          description: Decimal amount as a string, for example "12.50".
        currency:
          type: string
          description: ISO 4217 currency code, for example EUR.
    Pointer:
      type: object
      description: A bunq alias ("pointer") identifying a counterparty.
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
            - IBAN
            - EMAIL
            - PHONE_NUMBER
        value:
          type: string
        name:
          type: string
          description: Required when type is IBAN.
