openapi: 3.0.0
info:
  title: ' user/{userID}/monetary-account'
  description: Needs description.
  termsOfService: http://bunq.com/terms-api/
  contact:
    name: bunq Developer Support
    url: http://bunq.com/developer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
  - url: https://public-api.sandbox.bunq.com/{basePath}
    description: Sandbox server
    variables:
      basePath:
        default: v1
  - url: https://api.bunq.com/{basePath}
    description: Production server
    variables:
      basePath:
        default: v1
components:
  schemas:
    AttachmentMonetaryAccountCreate:
      type: object
      properties:
        id:
          type: integer
          description: The ID of the attachment created.
          readOnly: true
          writeOnly: false
    BunqMeFundraiserResultRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the bunq.me.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp when the bunq.me was created.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp when the bunq.me was last updated.
          readOnly: true
          writeOnly: false
        bunqme_fundraiser_profile:
          type: object
          description: The bunq.me fundraiser profile.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqMeFundraiserProfile'
        payments:
          type: array
          description: The list of payments, paid to the bunq.me fundraiser profile.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Payment'
    BunqMeTabCreate:
      type: object
      properties:
        id:
          type: integer
          description: The id of the created bunq.me.
          readOnly: true
          writeOnly: false
    BunqMeTabUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    BunqMeTabRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the created bunq.me.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp when the bunq.me was created.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp when the bunq.me was last updated.
          readOnly: true
          writeOnly: false
        time_expiry:
          type: string
          description: The timestamp of when the bunq.me expired or will expire.
          readOnly: true
          writeOnly: false
        monetary_account_id:
          type: integer
          description: The id of the MonetaryAccount the bunq.me was sent from.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the bunq.me. Can be WAITING_FOR_PAYMENT, CANCELLED or
            EXPIRED.
          readOnly: true
          writeOnly: false
        type:
          type: string
          description: The type of the bunq.me Tab. Should be BUNQ_ME
          readOnly: true
          writeOnly: false
        alias_monetary_account:
          type: object
          description: >-
            The LabelMonetaryAccount with the public information of the User and
            the MonetaryAccount that created the bunq.me link.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        bunqme_tab_share_url:
          type: string
          description: The url that points to the bunq.me page.
          readOnly: true
          writeOnly: false
        bunqme_tab_entry:
          type: object
          description: The bunq.me entry containing the payment information.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqMeTabEntry'
        bunqme_tab_entries:
          type: array
          description: The bunq.me tab entries attached to this bunq.me Tab.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqMeTabEntry'
        result_inquiries:
          type: array
          description: The list of bunq.me result Inquiries successfully made and paid.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqMeTabResultInquiry'
    BunqMeTabResultResponseRead:
      type: object
      properties:
        payment:
          type: object
          description: The payment made for the bunq.me tab.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Payment'
    CurrencyCloudPaymentQuoteCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    CurrencyConversionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the conversion.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the conversion's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the conversion's last update.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the conversion.
          readOnly: true
          writeOnly: false
        date_delivery_expected:
          type: string
          description: The expected delivery date of the conversion.
          readOnly: true
          writeOnly: false
        rate:
          type: string
          description: The rate of the conversion.
          readOnly: true
          writeOnly: false
        amount:
          type: object
          description: The amount of the conversion.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        counter_amount:
          type: object
          description: The amount of the counter conversion.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        group_uuid:
          type: string
          description: The group uuid of the conversion.
          readOnly: true
          writeOnly: false
        type:
          type: string
          description: The type of this conversion.
          readOnly: true
          writeOnly: false
        order_type:
          type: string
          description: The order type, buying or selling.
          readOnly: true
          writeOnly: false
        label_monetary_account:
          type: object
          description: The label of the monetary account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        counter_label_monetary_account:
          type: object
          description: The label of the counter monetary account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        payment:
          type: object
          description: The payment associated with this conversion.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Payment'
    CurrencyConversionQuoteCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    CurrencyConversionQuoteRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the quote.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the quote's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the quote's last update.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the quote.
          readOnly: true
          writeOnly: false
        amount_source:
          type: object
          description: The amount to convert.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_target:
          type: object
          description: The amount to convert to.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        rate:
          type: string
          description: The conversion rate.
          readOnly: true
          writeOnly: false
        time_expiry:
          type: string
          description: >-
            Timestamp for when this quote expires and the user should request a
            new one.
          readOnly: true
          writeOnly: false
    CurrencyConversionQuoteUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    ExportStatementCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    ExportStatementRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the customer statement model.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the statement model's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the statement model's last update.
          readOnly: true
          writeOnly: false
        date_start:
          type: string
          description: The date from when this statement shows transactions.
          readOnly: true
          writeOnly: false
        date_end:
          type: string
          description: The date until which statement shows transactions.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the export.
          readOnly: true
          writeOnly: false
        statement_number:
          type: integer
          description: MT940 Statement number. Unique per monetary account.
          readOnly: true
          writeOnly: false
        statement_format:
          type: string
          description: The format of statement.
          readOnly: true
          writeOnly: false
        regional_format:
          type: string
          description: The regional format of a CSV statement.
          readOnly: true
          writeOnly: false
        alias_monetary_account:
          type: object
          description: The monetary account for which this statement was created.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
    ExportStatementDelete:
      type: object
    DraftPaymentCreate:
      type: object
      properties:
        id:
          type: integer
          description: The id of the created DrafPayment.
          readOnly: true
          writeOnly: false
    DraftPaymentUpdate:
      type: object
      properties:
        id:
          type: integer
          description: The id of the created DrafPayment.
          readOnly: true
          writeOnly: false
    DraftPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the created DrafPayment.
          readOnly: true
          writeOnly: false
        monetary_account_id:
          type: integer
          description: The id of the MonetaryAccount the DraftPayment applies to.
          readOnly: true
          writeOnly: false
        user_alias_created:
          type: object
          description: The label of the User who created the DraftPayment.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        responses:
          type: array
          description: All responses to this draft payment.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/DraftPaymentResponse'
        status:
          type: string
          description: The status of the DraftPayment.
          readOnly: true
          writeOnly: false
        type:
          type: string
          description: The type of the DraftPayment.
          readOnly: true
          writeOnly: false
        entries:
          type: array
          description: The entries in the DraftPayment.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/DraftPaymentEntry'
        object:
          type: object
          description: >-
            The Payment or PaymentBatch. This will only be present after the
            DraftPayment has been accepted.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/DraftPaymentAnchorObject'
        request_reference_split_the_bill:
          type: array
          description: >-
            The reference to the object used for split the bill. Can be
            RequestInquiry or RequestInquiryBatch
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/RequestInquiryReference'
        schedule:
          type: object
          description: The schedule details.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Schedule'
    ExportRibCreate:
      type: object
      properties:
        id:
          type: integer
          description: The id of the rib as created on the server.
          readOnly: true
          writeOnly: false
    ExportRibRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the rib as created on the server.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the RIB's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the RIB's last update.
          readOnly: true
          writeOnly: false
    ExportRibDelete:
      type: object
    IdealMerchantTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    IdealMerchantTransactionRead:
      type: object
      properties:
        monetary_account_id:
          type: integer
          description: >-
            The id of the monetary account this ideal merchant transaction links
            to.
          readOnly: true
          writeOnly: false
        alias:
          type: object
          description: The alias of the monetary account to add money to.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        counterparty_alias:
          type: object
          description: The alias of the monetary account the money comes from.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        amount_guaranteed:
          type: object
          description: >-
            In case of a successful transaction, the amount of money that will
            be transferred.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_requested:
          type: object
          description: The requested amount of money to add.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        expiration:
          type: string
          description: When the transaction will expire.
          readOnly: true
          writeOnly: false
        issuer:
          type: string
          description: The BIC of the issuer.
          readOnly: true
          writeOnly: false
        issuer_name:
          type: string
          description: The Name of the issuer.
          readOnly: true
          writeOnly: false
        issuer_authentication_url:
          type: string
          description: 'The URL to visit to '
          readOnly: true
          writeOnly: false
        purchase_identifier:
          type: string
          description: The 'purchase ID' of the iDEAL transaction.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the transaction.
          readOnly: true
          writeOnly: false
        status_timestamp:
          type: string
          description: When the status was last updated.
          readOnly: true
          writeOnly: false
        transaction_identifier:
          type: string
          description: The 'transaction ID' of the iDEAL transaction.
          readOnly: true
          writeOnly: false
    PaymentAutoAllocateInstanceRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the PaymentAutoAllocateInstance.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp when the PaymentAutoAllocateInstance was created.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp when the PaymentAutoAllocateInstance was last updated.
          readOnly: true
          writeOnly: false
        payment_auto_allocate_id:
          type: integer
          description: The ID of the payment auto allocate this instance belongs to.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the payment auto allocate instance. SUCCEEDED or
            FAILED.
          readOnly: true
          writeOnly: false
        error_message:
          type: array
          description: The error message, if the payment auto allocating failed.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Error'
        payment_batch:
          type: object
          description: The payment batch allocating all the payments.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/PaymentBatch'
        payment_id:
          type: integer
          description: The ID of the payment that triggered the allocating of the payments.
          readOnly: true
          writeOnly: false
    InvoiceRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the invoice object.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the invoice object's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the invoice object's last update.
          readOnly: true
          writeOnly: false
        invoice_date:
          type: string
          description: The invoice date.
          readOnly: true
          writeOnly: false
        invoice_number:
          type: string
          description: The invoice number.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The invoice status.
          readOnly: true
          writeOnly: false
        category:
          type: string
          description: The category to display to the user.
          readOnly: true
          writeOnly: false
        group:
          type: array
          description: The invoice item groups.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/InvoiceItemGroup'
        total_vat_inclusive:
          type: object
          description: The total discounted item price including VAT.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        total_vat_exclusive:
          type: object
          description: The total discounted item price excluding VAT.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        total_vat:
          type: object
          description: The VAT on the total discounted item price.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: object
          description: >-
            The label that's displayed to the counterparty with the invoice.
            Includes user.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        address:
          type: object
          description: The customer's address.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Address'
        counterparty_alias:
          type: object
          description: The label of the counterparty of the invoice. Includes user.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        counterparty_address:
          type: object
          description: The company's address.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Address'
        chamber_of_commerce_number:
          type: string
          description: The company's chamber of commerce number.
          readOnly: true
          writeOnly: false
        vat_number:
          type: string
          description: The company's chamber of commerce number.
          readOnly: true
          writeOnly: false
        request_reference_split_the_bill:
          type: array
          description: >-
            The reference to the object used for split the bill. Can be
            RequestInquiry or RequestInquiryBatch
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/RequestInquiryReference'
    MasterCardActionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MastercardAction.
          readOnly: true
          writeOnly: false
        monetary_account_id:
          type: integer
          description: The id of the monetary account this action links to.
          readOnly: true
          writeOnly: false
        card_id:
          type: integer
          description: The id of the card this action links to.
          readOnly: true
          writeOnly: false
        amount_local:
          type: object
          description: The amount of the transaction in local currency.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_converted:
          type: object
          description: The amount of the transaction in local currency.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_billing:
          type: object
          description: The amount of the transaction in the monetary account's currency.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_original_local:
          type: object
          description: The original amount in local currency.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_original_billing:
          type: object
          description: The original amount in the monetary account's currency.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        amount_fee:
          type: object
          description: The fee amount as charged by the merchant, if applicable.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        card_authorisation_id_response:
          type: string
          description: >-
            The response code by which authorised transaction can be identified
            as authorised by bunq.
          readOnly: true
          writeOnly: false
        decision:
          type: string
          description: Why the transaction was denied, if it was denied, or just ALLOWED.
          readOnly: true
          writeOnly: false
        payment_status:
          type: string
          description: >-
            The payment status of the transaction. For example
            PAYMENT_SUCCESSFUL, for a successful payment.
          readOnly: true
          writeOnly: false
        decision_description:
          type: string
          description: >-
            Empty if allowed, otherwise a textual explanation of why it was
            denied.
          readOnly: true
          writeOnly: false
        decision_description_translated:
          type: string
          description: >-
            Empty if allowed, otherwise a textual explanation of why it was
            denied in user's language.
          readOnly: true
          writeOnly: false
        decision_together_url:
          type: string
          description: >-
            Empty if allowed or if no relevant Together topic exists, otherwise
            contains the URL for a Together topic with more information about
            the decision.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: The description for this transaction to display.
          readOnly: true
          writeOnly: false
        authorisation_status:
          type: string
          description: The status in the authorisation process.
          readOnly: true
          writeOnly: false
        authorisation_type:
          type: string
          description: The type of transaction that was delivered using the card.
          readOnly: true
          writeOnly: false
        pan_entry_mode_user:
          type: string
          description: >-
            The type of entry mode the user used. Can be 'ATM', 'ICC',
            'MAGNETIC_STRIPE' or 'E_COMMERCE'.
          readOnly: true
          writeOnly: false
        settlement_status:
          type: string
          description: The setlement status in the authorisation process.
          readOnly: true
          writeOnly: false
        clearing_status:
          type: string
          description: >-
            The clearing status of the authorisation. Can be 'PENDING',
            'FIRST_PRESENTMENT_COMPLETE' or 'REFUND_LENIENCY'.
          readOnly: true
          writeOnly: false
        maturity_date:
          type: string
          description: The maturity date.
          readOnly: true
          writeOnly: false
        city:
          type: string
          description: >-
            The city where the message originates from as announced by the
            terminal.
          readOnly: true
          writeOnly: false
        alias:
          type: object
          description: >-
            The monetary account label of the account that this action is
            created for.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        counterparty_alias:
          type: object
          description: The monetary account label of the counterparty.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelMonetaryAccount'
        label_card:
          type: object
          description: The label of the card.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelCard'
        merchant_id:
          type: string
          description: The identification string of the merchant.
          readOnly: true
          writeOnly: false
        token_status:
          type: string
          description: >-
            If this is a tokenisation action, this shows the status of the
            token.
          readOnly: true
          writeOnly: false
        reservation_expiry_time:
          type: string
          description: If this is a reservation, the moment the reservation will expire.
          readOnly: true
          writeOnly: false
        clearing_expiry_time:
          type: string
          description: >-
            The time when the processing of the clearing is expired, refunding
            the authorisation.
          readOnly: true
          writeOnly: false
        applied_limit:
          type: string
          description: >-
            The type of the limit applied to validate if this MasterCardAction
            was within the spending limits. The returned string matches the
            limit types as defined in the card endpoint.
          readOnly: true
          writeOnly: false
        secure_code_id:
          type: integer
          description: The secure code id for this mastercard action or null.
          readOnly: true
          writeOnly: false
        wallet_provider_id:
          type: string
          description: >-
            The ID of the wallet provider as defined by MasterCard. 420 = bunq
            Android app with Tap&Pay; 103 = Apple Pay.
          readOnly: true
          writeOnly: false
        request_reference_split_the_bill:
          type: array
          description: >-
            The reference to the object used for split the bill. Can be
            RequestInquiry or RequestInquiryBatch
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/RequestInquiryReference'
        all_mastercard_action_refund:
          type: array
          description: A reference to the Refunds if they exist.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/MasterCardActionRefund'
        pos_card_presence:
          type: string
          description: The Card Presence type of the POS.
          readOnly: true
          writeOnly: false
        pos_card_holder_presence:
          type: string
          description: The Card Holder Presence type of the POS.
          readOnly: true
          writeOnly: false
        eligible_whitelist_id:
          type: integer
          description: The whitelist id for this action or null.
          readOnly: true
          writeOnly: false
        cashback_payout_item:
          type: object
          description: The cashback payout item for this action or null
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/CashbackPayoutItem'
        blacklist:
          type: object
          description: The blacklist enabled for the merchant of this transaction
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/UserBlacklistMasterCardMerchant'
        additional_authentication_status:
          type: string
          description: >-
            The status of the additional authentication performed (3ds) by the
            user for this transaction.
          readOnly: true
          writeOnly: false
        pin_status:
          type: string
          description: Status checking the provided PIN.
          readOnly: true
          writeOnly: false
        mastercard_action_report:
          type: object
          description: The report for this transaction
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MasterCardActionReport'
        merchant_category_code:
          type: string
          description: The MCC provided.
          readOnly: true
          writeOnly: false
    MonetaryAccountRead:
      type: object
      properties:
        MonetaryAccountBank:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountBank'
        MonetaryAccountJoint:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountJoint'
        MonetaryAccountLight:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountLight'
        MonetaryAccountSavings:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSavings'
        MonetaryAccountExternal:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountExternal'
        MonetaryAccountInvestment:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountInvestment'
        MonetaryAccountExternalSavings:
          type: object
          description: ''
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountExternalSavings'
    MonetaryAccountBankCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountBankRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountBank's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountBank's last update.
          readOnly: true
          writeOnly: false
        avatar:
          type: object
          description: The Avatar of the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Avatar'
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountBank as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountBank. Defaults to 'bunq
            account'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: >-
            The daily spending limit Amount of the MonetaryAccountBank. Defaults
            to 1000 EUR. Currency must match the MonetaryAccountBank's currency.
            Limited to 10000 EUR.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        overdraft_limit:
          type: object
          description: The maximum Amount the MonetaryAccountBank can be 'in the red'.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountBank's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the MonetaryAccountBank. Can be: ACTIVE, BLOCKED,
            CANCELLED or PENDING_REOPEN
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountBank providing extra
            information regarding the status. Will be NONE for ACTIVE or
            PENDING_REOPEN, COMPLETELY or ONLY_ACCEPTING_INCOMING for BLOCKED
            and REDEMPTION_INVOLUNTARY, REDEMPTION_VOLUNTARY or PERMANENT for
            CANCELLED.
          readOnly: true
          writeOnly: false
        reason:
          type: string
          description: >-
            The reason for voluntarily cancelling (closing) the
            MonetaryAccountBank, can only be OTHER.
          readOnly: true
          writeOnly: false
        reason_description:
          type: string
          description: >-
            The optional free-form reason for voluntarily cancelling (closing)
            the MonetaryAccountBank. Can be any user provided message.
          readOnly: true
          writeOnly: false
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
        monetary_account_profile:
          type: object
          description: The profile of the account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountProfile'
        display_name:
          type: string
          description: The legal name of the user / company using this monetary account.
          readOnly: true
          writeOnly: false
        setting:
          type: object
          description: The settings of the MonetaryAccountBank.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSetting'
        all_auto_save_id:
          type: array
          description: The ids of the AutoSave.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqId'
    MonetaryAccountBankUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountCardRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountCard's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountCard's last update.
          readOnly: true
          writeOnly: false
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountCard as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountCard. Defaults to 'prepaid
            credit card'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: The daily spending limit Amount of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountCard's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountCard providing extra
            information regarding the status.
          readOnly: true
          writeOnly: false
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
    MonetaryAccountCardUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountExternalCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountExternalRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountExternal's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountExternal's last update.
          readOnly: true
          writeOnly: false
        avatar:
          type: object
          description: The Avatar of the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Avatar'
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountExternal as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountExternal. Defaults to 'bunq
            account'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: >-
            The daily spending limit Amount of the MonetaryAccountExternal.
            Defaults to 1000 EUR. Currency must match the
            MonetaryAccountExternal's currency. Limited to 10000 EUR.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        overdraft_limit:
          type: object
          description: The maximum Amount the MonetaryAccountExternal can be 'in the red'.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountExternal's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the MonetaryAccountExternal. Can be: ACTIVE, BLOCKED,
            CANCELLED or PENDING_REOPEN
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountExternal providing extra
            information regarding the status. Will be NONE for ACTIVE or
            PENDING_REOPEN, COMPLETELY or ONLY_ACCEPTING_INCOMING for BLOCKED
            and REDEMPTION_INVOLUNTARY, REDEMPTION_VOLUNTARY or PERMANENT for
            CANCELLED.
          readOnly: true
          writeOnly: false
        reason:
          type: string
          description: >-
            The reason for voluntarily cancelling (closing) the
            MonetaryAccountExternal, can only be OTHER.
          readOnly: true
          writeOnly: false
        reason_description:
          type: string
          description: >-
            The optional free-form reason for voluntarily cancelling (closing)
            the MonetaryAccountExternal. Can be any user provided message.
          readOnly: true
          writeOnly: false
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
        monetary_account_profile:
          type: object
          description: The profile of the account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountProfile'
        display_name:
          type: string
          description: The legal name of the user / company using this monetary account.
          readOnly: true
          writeOnly: false
        setting:
          type: object
          description: The settings of the MonetaryAccountExternal.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSetting'
        all_auto_save_id:
          type: array
          description: The ids of the AutoSave.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqId'
    MonetaryAccountExternalUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountExternalSavingsCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountExternalSavingsRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountExternalSavings's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountExternalSavings's last update.
          readOnly: true
          writeOnly: false
        avatar:
          type: object
          description: The Avatar of the MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Avatar'
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountExternalSavings as an ISO 4217
            formatted currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountExternalSavings. Defaults to
            'bunq account'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: >-
            The daily spending limit Amount of the
            MonetaryAccountExternalSavings. Defaults to 1000 EUR. Currency must
            match the MonetaryAccountExternalSavings's currency. Limited to
            10000 EUR.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: >-
            The current available balance Amount of the
            MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountExternalSavings's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the MonetaryAccountExternalSavings. Can be: ACTIVE,
            BLOCKED, CANCELLED or PENDING_REOPEN
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountExternalSavings providing extra
            information regarding the status. Will be NONE for ACTIVE or
            PENDING_REOPEN, COMPLETELY or ONLY_ACCEPTING_INCOMING for BLOCKED
            and REDEMPTION_INVOLUNTARY, REDEMPTION_VOLUNTARY or PERMANENT for
            CANCELLED.
          readOnly: true
          writeOnly: false
        reason:
          type: string
          description: >-
            The reason for voluntarily cancelling (closing) the
            MonetaryAccountExternalSavings, can only be OTHER.
          readOnly: true
          writeOnly: false
        reason_description:
          type: string
          description: >-
            The optional free-form reason for voluntarily cancelling (closing)
            the MonetaryAccountExternalSavings. Can be any user provided
            message.
          readOnly: true
          writeOnly: false
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
        monetary_account_profile:
          type: object
          description: The profile of the account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountProfile'
        display_name:
          type: string
          description: The legal name of the user / company using this monetary account.
          readOnly: true
          writeOnly: false
        setting:
          type: object
          description: The settings of the MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSetting'
        all_auto_save_id:
          type: array
          description: The ids of the AutoSave.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqId'
        savings_goal:
          type: object
          description: The Savings Goal set for this MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        savings_goal_progress:
          type: integer
          description: >-
            The progress in percentages for the Savings Goal set for this
            MonetaryAccountExternalSavings.
          readOnly: true
          writeOnly: false
        number_of_payment_remaining:
          type: string
          description: The number of payments that can be made from this savings account
          readOnly: true
          writeOnly: false
    MonetaryAccountExternalSavingsUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountJointCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountJointRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountJoint's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountJoint's last update.
          readOnly: true
          writeOnly: false
        avatar:
          type: object
          description: The Avatar of the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Avatar'
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountJoint as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountJoint. Defaults to 'bunq
            account'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: >-
            The daily spending limit Amount of the MonetaryAccountJoint.
            Defaults to 1000 EUR. Currency must match the MonetaryAccountJoint's
            currency. Limited to 10000 EUR.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        overdraft_limit:
          type: object
          description: The maximum Amount the MonetaryAccountJoint can be 'in the red'.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountJoint's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the MonetaryAccountJoint. Can be: ACTIVE, BLOCKED,
            CANCELLED or PENDING_REOPEN
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountJoint providing extra
            information regarding the status. Will be NONE for ACTIVE or
            PENDING_REOPEN, COMPLETELY or ONLY_ACCEPTING_INCOMING for BLOCKED
            and REDEMPTION_INVOLUNTARY, REDEMPTION_VOLUNTARY or PERMANENT for
            CANCELLED.
          readOnly: true
          writeOnly: false
        reason:
          type: string
          description: >-
            The reason for voluntarily cancelling (closing) the
            MonetaryAccountJoint, can only be OTHER.
          readOnly: true
          writeOnly: false
        reason_description:
          type: string
          description: >-
            The optional free-form reason for voluntarily cancelling (closing)
            the MonetaryAccountJoint. Can be any user provided message.
          readOnly: true
          writeOnly: false
        all_co_owner:
          type: array
          description: The users the account will be joint with.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/CoOwner'
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
        monetary_account_profile:
          type: object
          description: The profile of the account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountProfile'
        setting:
          type: object
          description: The settings of the MonetaryAccountJoint.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSetting'
        all_auto_save_id:
          type: array
          description: The ids of the AutoSave.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqId'
    MonetaryAccountJointUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountSavingsCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    MonetaryAccountSavingsRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountSavings's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountSavings's last update.
          readOnly: true
          writeOnly: false
        avatar:
          type: object
          description: The Avatar of the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Avatar'
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountSavings as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountSavings. Defaults to 'bunq
            account'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: >-
            The daily spending limit Amount of the MonetaryAccountSavings.
            Defaults to 1000 EUR. Currency must match the
            MonetaryAccountSavings's currency. Limited to 10000 EUR.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountSavings's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: >-
            The status of the MonetaryAccountSavings. Can be: ACTIVE, BLOCKED,
            CANCELLED or PENDING_REOPEN
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountSavings providing extra
            information regarding the status. Will be NONE for ACTIVE or
            PENDING_REOPEN, COMPLETELY or ONLY_ACCEPTING_INCOMING for BLOCKED
            and REDEMPTION_INVOLUNTARY, REDEMPTION_VOLUNTARY or PERMANENT for
            CANCELLED.
          readOnly: true
          writeOnly: false
        reason:
          type: string
          description: >-
            The reason for voluntarily cancelling (closing) the
            MonetaryAccountSavings, can only be OTHER.
          readOnly: true
          writeOnly: false
        reason_description:
          type: string
          description: >-
            The optional free-form reason for voluntarily cancelling (closing)
            the MonetaryAccountSavings. Can be any user provided message.
          readOnly: true
          writeOnly: false
        all_co_owner:
          type: array
          description: The users the account will be joint with.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/CoOwner'
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
        monetary_account_profile:
          type: object
          description: The profile of the account.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountProfile'
        setting:
          type: object
          description: The settings of the MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/MonetaryAccountSetting'
        savings_goal:
          type: object
          description: The Savings Goal set for this MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        savings_goal_progress:
          type: integer
          description: >-
            The progress in percentages for the Savings Goal set for this
            MonetaryAccountSavings.
          readOnly: true
          writeOnly: false
        number_of_payment_remaining:
          type: string
          description: The number of payments that can be made from this savings account
          readOnly: true
          writeOnly: false
        all_auto_save_id:
          type: array
          description: The ids of the AutoSave.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/BunqId'
    MonetaryAccountSavingsUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentAdyenCardTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentAdyenCardTransactionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentAdyenCardTransactionDelete:
      type: object
    NoteAttachmentAdyenCardTransactionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentBankSwitchServiceNetherlandsIncomingPaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentBankSwitchServiceNetherlandsIncomingPaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentBankSwitchServiceNetherlandsIncomingPaymentDelete:
      type: object
    NoteAttachmentBankSwitchServiceNetherlandsIncomingPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentBunqMeFundraiserResultCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentBunqMeFundraiserResultUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentBunqMeFundraiserResultDelete:
      type: object
    NoteAttachmentBunqMeFundraiserResultRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentDraftPaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentDraftPaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentDraftPaymentDelete:
      type: object
    NoteAttachmentDraftPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentIdealMerchantTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentIdealMerchantTransactionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentIdealMerchantTransactionDelete:
      type: object
    NoteAttachmentIdealMerchantTransactionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentMasterCardActionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentMasterCardActionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentMasterCardActionDelete:
      type: object
    NoteAttachmentMasterCardActionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentPaymentBatchCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentPaymentBatchUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentPaymentBatchDelete:
      type: object
    NoteAttachmentPaymentBatchRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentPaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentPaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentPaymentDelete:
      type: object
    NoteAttachmentPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentRequestInquiryBatchCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestInquiryBatchUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestInquiryBatchDelete:
      type: object
    NoteAttachmentRequestInquiryBatchRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentRequestInquiryCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestInquiryUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestInquiryDelete:
      type: object
    NoteAttachmentRequestInquiryRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentRequestResponseCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestResponseUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentRequestResponseDelete:
      type: object
    NoteAttachmentRequestResponseRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentScheduleInstanceCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentScheduleInstanceUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentScheduleInstanceDelete:
      type: object
    NoteAttachmentScheduleInstanceRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentSchedulePaymentBatchCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSchedulePaymentBatchUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSchedulePaymentBatchDelete:
      type: object
    NoteAttachmentSchedulePaymentBatchRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentSchedulePaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSchedulePaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSchedulePaymentDelete:
      type: object
    NoteAttachmentSchedulePaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentSofortMerchantTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSofortMerchantTransactionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentSofortMerchantTransactionDelete:
      type: object
    NoteAttachmentSofortMerchantTransactionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteAttachmentWhitelistResultCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentWhitelistResultUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteAttachmentWhitelistResultDelete:
      type: object
    NoteAttachmentWhitelistResultRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        description:
          type: string
          description: Optional description of the attachment.
          readOnly: true
          writeOnly: false
        attachment:
          type: array
          description: The attachment attached to the note.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/AttachmentMonetaryAccountPayment'
    NoteTextAdyenCardTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextAdyenCardTransactionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextAdyenCardTransactionDelete:
      type: object
    NoteTextAdyenCardTransactionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        content:
          type: string
          description: The content of the note.
          readOnly: true
          writeOnly: false
    NoteTextBankSwitchServiceNetherlandsIncomingPaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextBankSwitchServiceNetherlandsIncomingPaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextBankSwitchServiceNetherlandsIncomingPaymentDelete:
      type: object
    NoteTextBankSwitchServiceNetherlandsIncomingPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        content:
          type: string
          description: The content of the note.
          readOnly: true
          writeOnly: false
    NoteTextBunqMeFundraiserResultCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextBunqMeFundraiserResultUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextBunqMeFundraiserResultDelete:
      type: object
    NoteTextBunqMeFundraiserResultRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        content:
          type: string
          description: The content of the note.
          readOnly: true
          writeOnly: false
    NoteTextDraftPaymentCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextDraftPaymentUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextDraftPaymentDelete:
      type: object
    NoteTextDraftPaymentRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        content:
          type: string
          description: The content of the note.
          readOnly: true
          writeOnly: false
    NoteTextIdealMerchantTransactionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextIdealMerchantTransactionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextIdealMerchantTransactionDelete:
      type: object
    NoteTextIdealMerchantTransactionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/LabelUser'
        content:
          type: string
          description: The content of the note.
          readOnly: true
          writeOnly: false
    NoteTextMasterCardActionCreate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextMasterCardActionUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
    NoteTextMasterCardActionDelete:
      type: object
    NoteTextMasterCardActionRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the note.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the note's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the note's last update.
          readOnly: true
          writeOnly: false
        label_user_creator:
          type: object
          description: The label of the user who created this note.
          readOnly: true
          writeOnly: false
[...]
