openapi: 3.0.0
info:
  title: ' user/{userID}/monetary-account-card'
  description: Needs description.
  termsOfService: http://bunq.com/terms-api/
  contact:
    name: bunq Developer Support
    url: http://bunq.com/developer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
  - url: https://public-api.sandbox.bunq.com/{basePath}
    description: Sandbox server
    variables:
      basePath:
        default: v1
  - url: https://api.bunq.com/{basePath}
    description: Production server
    variables:
      basePath:
        default: v1
components:
  schemas:
    MonetaryAccountCardRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the MonetaryAccountCard's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the MonetaryAccountCard's last update.
          readOnly: true
          writeOnly: false
        currency:
          type: string
          description: >-
            The currency of the MonetaryAccountCard as an ISO 4217 formatted
            currency code.
          readOnly: true
          writeOnly: false
        description:
          type: string
          description: >-
            The description of the MonetaryAccountCard. Defaults to 'prepaid
            credit card'.
          readOnly: true
          writeOnly: false
        daily_limit:
          type: object
          description: The daily spending limit Amount of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        balance:
          type: object
          description: The current available balance Amount of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/Amount'
        alias:
          type: array
          description: The Aliases for the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Pointer'
        public_uuid:
          type: string
          description: The MonetaryAccountCard's public UUID.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
        sub_status:
          type: string
          description: >-
            The sub-status of the MonetaryAccountCard providing extra
            information regarding the status.
          readOnly: true
          writeOnly: false
        user_id:
          type: integer
          description: The id of the User who owns the MonetaryAccountCard.
          readOnly: true
          writeOnly: false
    MonetaryAccountCardUpdate:
      type: object
      properties:
        Id:
          type: object
          description: The id of the created item
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/BunqId'
paths:
  /user/{userID}/monetary-account-card/{itemId}:
    get:
      tags:
        - - - - monetary-account-card
      summary: ''
      operationId: READ_MonetaryAccountCard_for_User
      description: Get a specific MonetaryAccountCard.
      parameters:
        - in: path
          name: userID
          description: ''
          required: true
          schema:
            type: integer
        - in: path
          name: itemId
          description: ''
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Cache-Control'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Bunq-Language'
        - $ref: '#/components/parameters/X-Bunq-Region'
        - $ref: '#/components/parameters/X-Bunq-Client-Request-Id'
        - $ref: '#/components/parameters/X-Bunq-Geolocation'
        - $ref: '#/components/parameters/X-Bunq-Client-Authentication'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonetaryAccountCardRead'
          headers:
            X-Bunq-Client-Response-Id:
              $ref: '#/components/headers/X-Bunq-Client-Response-Id'
            X-Bunq-Client-Request-Id:
              $ref: '#/components/headers/X-Bunq-Client-Request-Id'
            X-Bunq-Server-Signature:
              $ref: '#/components/headers/X-Bunq-Server-Signature'
        '400':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - - - - monetary-account-card
      summary: ''
      operationId: UPDATE_MonetaryAccountCard_for_User
      description: Update a specific existing MonetaryAccountCard.
      parameters:
        - in: path
          name: userID
          description: ''
          required: true
          schema:
            type: integer
        - in: path
          name: itemId
          description: ''
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Cache-Control'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Bunq-Language'
        - $ref: '#/components/parameters/X-Bunq-Region'
        - $ref: '#/components/parameters/X-Bunq-Client-Request-Id'
        - $ref: '#/components/parameters/X-Bunq-Geolocation'
        - $ref: '#/components/parameters/X-Bunq-Client-Authentication'
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonetaryAccountCard'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonetaryAccountCardUpdate'
          headers:
            X-Bunq-Client-Response-Id:
              $ref: '#/components/headers/X-Bunq-Client-Response-Id'
            X-Bunq-Client-Request-Id:
              $ref: '#/components/headers/X-Bunq-Client-Request-Id'
            X-Bunq-Server-Signature:
              $ref: '#/components/headers/X-Bunq-Server-Signature'
        '400':
          $ref: '#/components/responses/GenericError'
  /user/{userID}/monetary-account-card:
    get:
      tags:
        - - - - monetary-account-card
      summary: ''
      operationId: List_all_MonetaryAccountCard_for_User
      description: Gets a listing of all MonetaryAccountCard of a given user.
      parameters:
        - in: path
          name: userID
          description: ''
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Cache-Control'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Bunq-Language'
        - $ref: '#/components/parameters/X-Bunq-Region'
        - $ref: '#/components/parameters/X-Bunq-Client-Request-Id'
        - $ref: '#/components/parameters/X-Bunq-Geolocation'
        - $ref: '#/components/parameters/X-Bunq-Client-Authentication'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MonetaryAccountCardListing'
          headers:
            X-Bunq-Client-Response-Id:
              $ref: '#/components/headers/X-Bunq-Client-Response-Id'
            X-Bunq-Client-Request-Id:
              $ref: '#/components/headers/X-Bunq-Client-Request-Id'
            X-Bunq-Server-Signature:
              $ref: '#/components/headers/X-Bunq-Server-Signature'
        '400':
          $ref: '#/components/responses/GenericError'
tags: []
