openapi: 3.0.0
info:
  title: ' payment-service-provider-credential/'
  description: Needs description.
  termsOfService: http://bunq.com/terms-api/
  contact:
    name: bunq Developer Support
    url: http://bunq.com/developer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
  - url: https://public-api.sandbox.bunq.com/{basePath}
    description: Sandbox server
    variables:
      basePath:
        default: v1
  - url: https://api.bunq.com/{basePath}
    description: Production server
    variables:
      basePath:
        default: v1
components:
  schemas:
    PaymentServiceProviderCredentialRead:
      type: object
      properties:
        id:
          type: integer
          description: The id of the credential.
          readOnly: true
          writeOnly: false
        created:
          type: string
          description: The timestamp of the credential object's creation.
          readOnly: true
          writeOnly: false
        updated:
          type: string
          description: The timestamp of the credential object's last update.
          readOnly: true
          writeOnly: false
        status:
          type: string
          description: The status of the credential.
          readOnly: true
          writeOnly: false
        expiry_time:
          type: string
          description: 'When the status is PENDING_FIRST_USE: when the credential expires.'
          readOnly: true
          writeOnly: false
        token_value:
          type: string
          description: 'When the status is PENDING_FIRST_USE: the value of the token.'
          readOnly: true
          writeOnly: false
        permitted_device:
          type: object
          description: >-
            When the status is ACTIVE: the details of the device that may use
            the credential.
          readOnly: true
          writeOnly: false
          $ref: '#/components/schemas/PermittedDevice'
paths:
  /payment-service-provider-credential/{itemId}:
    get:
      tags:
        - - - - payment-service-provider-credential
      summary: ''
      operationId: READ_PaymentServiceProviderCredential
      description: Register a Payment Service Provider and provide credentials
      parameters:
        - in: path
          name: itemId
          description: ''
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Cache-Control'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Bunq-Language'
        - $ref: '#/components/parameters/X-Bunq-Region'
        - $ref: '#/components/parameters/X-Bunq-Client-Request-Id'
        - $ref: '#/components/parameters/X-Bunq-Geolocation'
        - $ref: '#/components/parameters/X-Bunq-Client-Authentication'
      responses:
        '200':
          description: Register a Payment Service Provider and provide credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentServiceProviderCredentialRead'
          headers:
            X-Bunq-Client-Response-Id:
              $ref: '#/components/headers/X-Bunq-Client-Response-Id'
            X-Bunq-Client-Request-Id:
              $ref: '#/components/headers/X-Bunq-Client-Request-Id'
            X-Bunq-Server-Signature:
              $ref: '#/components/headers/X-Bunq-Server-Signature'
        '400':
          $ref: '#/components/responses/GenericError'
tags: []
