openapi: 3.2.0
info:
  title: bunq Public Customer Statement API
  description: Grounded, representative subset of the bunq Public API.
  version: v1
  contact:
    name: bunq API documentation
    url: https://doc.bunq.com
  license:
    name: bunq API Terms of Service
    url: https://doc.bunq.com
servers:
- url: https://api.bunq.com/v1
  description: Production
- url: https://public-api.sandbox.bunq.com/v1
  description: Sandbox
security:
- sessionToken: []
tags:
- name: Customer Statement
  description: Generate and download account statement exports (CSV, MT940, PDF).
paths:
  /user/{userID}/monetary-account/{monetaryAccountID}/customer-statement:
    parameters:
    - $ref: '#/components/parameters/UserID'
    - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: listCustomerStatements
      tags:
      - Customer Statement
      summary: List customer statements
      description: Lists the statement exports generated for the monetary account.
      responses:
        '200':
          description: A list of customer statements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCustomerStatement
      tags:
      - Customer Statement
      summary: Create a customer statement export
      description: Generates a statement export for a date range in CSV, MT940, or PDF format. `include_attachment` embeds attached mutations (for PDF).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerStatementInput'
      responses:
        '200':
          description: The created customer statement (id returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/monetary-account/{monetaryAccountID}/customer-statement/{customerStatementID}/content:
    parameters:
    - $ref: '#/components/parameters/UserID'
    - $ref: '#/components/parameters/MonetaryAccountID'
    - name: customerStatementID
      in: path
      required: true
      description: The ID of the customer statement.
      schema:
        type: integer
    get:
      operationId: getCustomerStatementContent
      tags:
      - Customer Statement
      summary: Download customer statement content
      description: Downloads the generated statement file (CSV, MT940, or PDF) as raw bytes.
      responses:
        '200':
          description: The statement file content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CustomerStatementInput:
      type: object
      required:
      - statement_format
      - date_start
      - date_end
      properties:
        statement_format:
          type: string
          enum:
          - CSV
          - MT940
          - PDF
        date_start:
          type: string
          format: date
        date_end:
          type: string
          format: date
        regional_format:
          type: string
          enum:
          - EUROPEAN
          - UK_US
        include_attachment:
          type: boolean
          description: Whether to include attached mutations (PDF only).
    Response:
      type: object
      description: Generic bunq response envelope. Every bunq response wraps its payload in a top-level `Response` array whose items are single-key objects keyed by the resource type (for example `Payment`, `MonetaryAccount`, `Id`, `Token`). Modeled generically here; see doc.bunq.com for the exact per-resource shape.
      properties:
        Response:
          type: array
          items:
            type: object
            additionalProperties: true
    ErrorResponse:
      type: object
      description: bunq error envelope.
      properties:
        Error:
          type: array
          items:
            type: object
            properties:
              error_description:
                type: string
              error_description_translated:
                type: string
  responses:
    Error:
      description: A bunq error response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing/invalid session token or signature.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    MonetaryAccountID:
      name: monetaryAccountID
      in: path
      required: true
      description: The numeric ID of the monetary account.
      schema:
        type: integer
    UserID:
      name: userID
      in: path
      required: true
      description: The numeric ID of the user.
      schema:
        type: integer
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Session token obtained from POST /session-server, sent on every business call. In addition, each request body must be signed with your private key and the signature sent in the X-Bunq-Client-Signature header (see the ClientSignature parameter). bunq is not a simple bearer-token API.
    installationToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Installation token from POST /installation, used only for the device-server and session-server handshake calls.
