openapi: 3.2.0
info:
  title: bunq Public Notification Filter API
  description: Grounded, representative subset of the bunq Public API.
  version: v1
  contact:
    name: bunq API documentation
    url: https://doc.bunq.com
  license:
    name: bunq API Terms of Service
    url: https://doc.bunq.com
servers:
- url: https://api.bunq.com/v1
  description: Production
- url: https://public-api.sandbox.bunq.com/v1
  description: Sandbox
security:
- sessionToken: []
tags:
- name: Notification Filter
  description: Manage URL (webhook) and push notification callbacks for account events.
paths:
  /user/{userID}/notification-filter-url:
    parameters:
    - $ref: '#/components/parameters/UserID'
    get:
      operationId: listNotificationFilterUrl
      tags:
      - Notification Filter
      summary: List URL notification filters
      description: Lists the user-level URL (webhook) notification filters currently configured.
      responses:
        '200':
          description: A list of URL notification filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNotificationFilterUrl
      tags:
      - Notification Filter
      summary: Set URL notification filters
      description: Replaces the set of user-level URL notification filters. Each filter maps a `category` (for example MUTATION, PAYMENT, CARD_TRANSACTION_*) to an HTTPS `notification_target` that bunq POSTs event callbacks to. Callbacks originate from bunq IP range 185.40.108.0/22.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationFilterUrlInput'
      responses:
        '200':
          description: The updated notification filter set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
  /user/{userID}/notification-filter-push:
    parameters:
    - $ref: '#/components/parameters/UserID'
    get:
      operationId: listNotificationFilterPush
      tags:
      - Notification Filter
      summary: List push notification filters
      description: Lists the user-level push notification filters (events delivered to the user's bunq mobile app).
      responses:
        '200':
          description: A list of push notification filters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNotificationFilterPush
      tags:
      - Notification Filter
      summary: Set push notification filters
      description: Replaces the set of user-level push notification filters by category.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationFilterPushInput'
      responses:
        '200':
          description: The updated push notification filter set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
components:
  schemas:
    NotificationFilterPushInput:
      type: object
      required:
      - notification_filters
      properties:
        notification_filters:
          type: array
          items:
            type: object
            required:
            - category
            properties:
              category:
                type: string
    Response:
      type: object
      description: Generic bunq response envelope. Every bunq response wraps its payload in a top-level `Response` array whose items are single-key objects keyed by the resource type (for example `Payment`, `MonetaryAccount`, `Id`, `Token`). Modeled generically here; see doc.bunq.com for the exact per-resource shape.
      properties:
        Response:
          type: array
          items:
            type: object
            additionalProperties: true
    ErrorResponse:
      type: object
      description: bunq error envelope.
      properties:
        Error:
          type: array
          items:
            type: object
            properties:
              error_description:
                type: string
              error_description_translated:
                type: string
    NotificationFilterUrlInput:
      type: object
      required:
      - notification_filters
      properties:
        notification_filters:
          type: array
          items:
            type: object
            required:
            - category
            - notification_target
            properties:
              category:
                type: string
                description: Event category, for example MUTATION, PAYMENT, REQUEST, CARD_TRANSACTION_SUCCESSFUL.
              notification_target:
                type: string
                format: uri
                description: HTTPS URL bunq POSTs the callback to.
  responses:
    Error:
      description: A bunq error response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing/invalid session token or signature.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    UserID:
      name: userID
      in: path
      required: true
      description: The numeric ID of the user.
      schema:
        type: integer
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Session token obtained from POST /session-server, sent on every business call. In addition, each request body must be signed with your private key and the signature sent in the X-Bunq-Client-Signature header (see the ClientSignature parameter). bunq is not a simple bearer-token API.
    installationToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Installation token from POST /installation, used only for the device-server and session-server handshake calls.
