openapi: 3.0.3
info:
  title: bunq Public Attachment Monetary Account API
  description: 'Grounded, representative subset of the bunq Public API. bunq is a European (Dutch) neobank; its REST API lets account holders and licensed third parties read accounts, initiate SEPA and other payments, send and respond to payment requests, manage cards, export statements, upload attachments, and subscribe to event callbacks.


    IMPORTANT - bunq uses an unusual multi-step handshake before any business call can be made. All request/response bodies in the bunq API are wrapped in a top-level `Response` (list) envelope, and most responses also return a server signature. This document models the handshake plus a representative slice of the resource surface; it is NOT the full bunq API, which exposes hundreds of endpoints. Path segments such as `{userID}` and `{monetaryAccountID}` are numeric IDs returned by earlier calls. This spec is authored by API Evangelist from the public documentation at https://doc.bunq.com and is not an official bunq artifact; request/response schemas are simplified and several are modeled rather than copied verbatim.'
  version: v1
  contact:
    name: bunq API documentation
    url: https://doc.bunq.com
  license:
    name: bunq API Terms of Service
    url: https://doc.bunq.com
servers:
- url: https://api.bunq.com/v1
  description: Production
- url: https://public-api.sandbox.bunq.com/v1
  description: Sandbox
security:
- sessionToken: []
tags:
- name: Monetary Account
  description: Bank, savings, and joint accounts holding money.
paths:
  /user/{userID}/monetary-account:
    parameters:
    - $ref: '#/components/parameters/UserID'
    get:
      operationId: listMonetaryAccounts
      tags:
      - Monetary Account
      summary: List monetary accounts
      description: Lists all monetary accounts for the user across types (bank, savings, joint). Type-specific collections are also exposed at `/monetary-account-bank`, `/monetary-account-savings`, and `/monetary-account-joint`.
      responses:
        '200':
          description: A list of monetary accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /user/{userID}/monetary-account/{monetaryAccountID}:
    parameters:
    - $ref: '#/components/parameters/UserID'
    - $ref: '#/components/parameters/MonetaryAccountID'
    get:
      operationId: getMonetaryAccount
      tags:
      - Monetary Account
      summary: Get a monetary account
      description: Retrieves a single monetary account, including its balance, IBAN alias, currency, and status.
      responses:
        '200':
          description: The requested monetary account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /user/{userID}/monetary-account-bank:
    parameters:
    - $ref: '#/components/parameters/UserID'
    get:
      operationId: listMonetaryAccountBank
      tags:
      - Monetary Account
      summary: List bank monetary accounts
      description: Lists the classic personal or business bank accounts (MonetaryAccountBank) for the user.
      responses:
        '200':
          description: A list of bank monetary accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createMonetaryAccountBank
      tags:
      - Monetary Account
      summary: Create a bank monetary account
      description: Opens a new MonetaryAccountBank in the given currency.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonetaryAccountBankInput'
      responses:
        '200':
          description: The created bank monetary account (id returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Response:
      type: object
      description: Generic bunq response envelope. Every bunq response wraps its payload in a top-level `Response` array whose items are single-key objects keyed by the resource type (for example `Payment`, `MonetaryAccount`, `Id`, `Token`). Modeled generically here; see doc.bunq.com for the exact per-resource shape.
      properties:
        Response:
          type: array
          items:
            type: object
            additionalProperties: true
    MonetaryAccountBankInput:
      type: object
      required:
      - currency
      properties:
        currency:
          type: string
          description: ISO 4217 currency code, for example EUR.
        description:
          type: string
        daily_limit:
          $ref: '#/components/schemas/Amount'
    ErrorResponse:
      type: object
      description: bunq error envelope.
      properties:
        Error:
          type: array
          items:
            type: object
            properties:
              error_description:
                type: string
              error_description_translated:
                type: string
    Amount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          description: Decimal amount as a string, for example "12.50".
        currency:
          type: string
          description: ISO 4217 currency code, for example EUR.
  responses:
    Unauthorized:
      description: Missing/invalid session token or signature.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Error:
      description: A bunq error response envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    MonetaryAccountID:
      name: monetaryAccountID
      in: path
      required: true
      description: The numeric ID of the monetary account.
      schema:
        type: integer
    UserID:
      name: userID
      in: path
      required: true
      description: The numeric ID of the user.
      schema:
        type: integer
  securitySchemes:
    sessionToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Session token obtained from POST /session-server, sent on every business call. In addition, each request body must be signed with your private key and the signature sent in the X-Bunq-Client-Signature header (see the ClientSignature parameter). bunq is not a simple bearer-token API.
    installationToken:
      type: apiKey
      in: header
      name: X-Bunq-Client-Authentication
      description: Installation token from POST /installation, used only for the device-server and session-server handshake calls.
