openapi: 3.0.0
info:
  title: ' avatar/'
  description: Needs description.
  termsOfService: http://bunq.com/terms-api/
  contact:
    name: bunq Developer Support
    url: http://bunq.com/developer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
  - url: https://public-api.sandbox.bunq.com/{basePath}
    description: Sandbox server
    variables:
      basePath:
        default: v1
  - url: https://api.bunq.com/{basePath}
    description: Production server
    variables:
      basePath:
        default: v1
components:
  schemas:
    AvatarRead:
      type: object
      properties:
        uuid:
          type: string
          description: The UUID of the created avatar.
          readOnly: true
          writeOnly: false
        image:
          type: array
          description: The content type of the image.
          readOnly: true
          writeOnly: false
          items:
            $ref: '#/components/schemas/Image'
paths:
  /avatar/{itemId}:
    get:
      tags:
        - - - - avatar
      summary: ''
      operationId: READ_Avatar
      description: >-
        Avatars are public images used to represent you or your company. Avatars
        are used to represent users, monetary accounts and cash registers.
        Avatars cannot be deleted, only replaced. Avatars can be updated after
        uploading the image you would like to use through AttachmentPublic.
        Using the attachment_public_uuid which is returned you can update your
        Avatar. Avatars used for cash registers and company accounts will be
        reviewed by bunq.
      parameters:
        - in: path
          name: itemId
          description: ''
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/Cache-Control'
        - $ref: '#/components/parameters/User-Agent'
        - $ref: '#/components/parameters/X-Bunq-Language'
        - $ref: '#/components/parameters/X-Bunq-Region'
        - $ref: '#/components/parameters/X-Bunq-Client-Request-Id'
        - $ref: '#/components/parameters/X-Bunq-Geolocation'
        - $ref: '#/components/parameters/X-Bunq-Client-Authentication'
      responses:
        '200':
          description: >-
            Avatars are public images used to represent you or your company.
            Avatars are used to represent users, monetary accounts and cash
            registers. Avatars cannot be deleted, only replaced. Avatars can be
            updated after uploading the image you would like to use through
            AttachmentPublic. Using the attachment_public_uuid which is returned
            you can update your Avatar. Avatars used for cash registers and
            company accounts will be reviewed by bunq.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvatarRead'
          headers:
            X-Bunq-Client-Response-Id:
              $ref: '#/components/headers/X-Bunq-Client-Response-Id'
            X-Bunq-Client-Request-Id:
              $ref: '#/components/headers/X-Bunq-Client-Request-Id'
            X-Bunq-Server-Signature:
              $ref: '#/components/headers/X-Bunq-Server-Signature'
        '400':
          $ref: '#/components/responses/GenericError'
tags: []
